<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Informes.Properties.Settings.empleadosConnectionString"
            connectionString="Persist Security Info=True;Password=iesbelen;Username=postgres;Host=localhost;Database=empleados"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>